.indentat-three {}

.container-two {
    padding-left: 180px;
    padding-right: 180px;
}

.item-fig8 {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig9 {
    width: 600px;
    height: 607px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig10 {
    width: 1080px;
    height: 528px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.item-fig11 {
    width: 1080px;
    height: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig12 {
    width: 1080px;
    height: 88px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig13 {
    width: 806px;
    height: 475px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig14 {
    width: 317px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.item-fig15 {
    width: 500px;
    height: 383px;
    margin: 0 auto;
}